---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Command from '../../components/command.astro';
import Base from '../../layouts/base.astro';

export async function getStaticPaths() {
    const jobEntries = await getCollection('jobs');
    return jobEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

interface Props {
    entry: CollectionEntry<'jobs'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Base title={`${entry.data.title} - rileyflynn.me`}>
    <Command command={`kubectl describe job ${entry.slug}`} />
    <pre class="text-[#FF00FF]">TODO: ADD CONTENT</pre>

    <br />

    <Command command={`kubectl get job ${entry.slug} --output=markdown`} />
    <pre class="text-[#FF00FF]">TODO: Make greys consistent</pre>
    <div class="prose prose-invert">
        <Content />
    </div>
</Base>
