---
import { Icon } from 'astro-icon/components';

const socialLinks: { url: string; iconName: string; label: string }[] = [
    {
        url: 'https://hachyderm.io/@nit',
        iconName: 'mingcute:mastodon-line',
        label: 'Mastodon',
    },
    {
        url: 'https://github.com/nint8835',
        iconName: 'mingcute:github-line',
        label: 'GitHub',
    },
    {
        url: 'https://linkedin.com/in/nint8835',
        iconName: 'mingcute:linkedin-line',
        label: 'LinkedIn',
    },
];
---

<footer class="flex w-full justify-center gap-8 p-2">
    {
        socialLinks.map(({ url, iconName, label }) => (
            <a href={url} rel="me" aria-label={label}>
                <Icon
                    name={iconName}
                    class="text-3xl text-zinc-600 transition-colors hover:font-bold hover:text-zinc-300"
                />
            </a>
        ))
    }
</footer>
