---

---

<nav class="flex w-full items-center justify-between p-2">
    <div class="bold text-xl font-bold">Riley Flynn</div>
    <div class="space-x-4">
        <a>Home</a>
        <a>Projects</a>
        <a>Work</a>
        <a>Blog</a>
        <a>About</a>
    </div>
</nav>
