---
import '@fontsource-variable/brygada-1918';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>rileyflynn.me</title>
    </head>
    <body>
        <div class="h-screen snap-y snap-mandatory snap-always overflow-auto scroll-smooth">
            <div class="flex h-screen snap-start flex-row bg-zinc-900 p-4 text-zinc-300 md:p-16">
                <div class="flex flex-1 items-center">
                    <div>
                        <h1 class="font-serif text-8xl font-semibold">Riley Flynn</h1>
                        <div>Cloud Developer</div>
                    </div>
                </div>
                <div class="hidden flex-1 md:flex"></div>
            </div>
            <div class="flex h-screen snap-start flex-row bg-red-900 p-4 text-zinc-300 md:p-16">
                <div class="flex flex-1 items-center">
                    <div>
                        <h1 class="font-serif text-8xl font-semibold">I'm a second div</h1>
                        <div>Here's some text!</div>
                    </div>
                </div>
                <div class="hidden flex-1 md:flex"></div>
            </div>
        </div>
    </body>
</html>
