---
import Command from '../components/command.astro';
import Table from '../components/table.astro';
import Layout from '../layouts/base.astro';
---

<Layout title="Hello World">
    <Command command="kubectl get customresourcedefinitions --table-method=astro-component" />
    <Table
        lines={[
            [{ text: 'NAME' }, { text: 'CREATED AT' }],
            [{ text: 'jobs.rileyflynn.me', link: '/jobs' }, { text: '2023-04-22T20:00:00Z' }],
            [{ text: 'projects.rileyflynn.me', link: '/projects' }, { text: '2023-04-22T20:00:00Z' }],
        ]}
    />

    <Command command="kubectl get customresourcedefinitions --table-method=manual" />
    <pre>
NAME                    CREATED AT
<a class="text-white underline hover:text-blue-300 transition-colors" href="/jobs">jobs.rileyflynn.me</a>      2023-04-22T20:00:00Z
<a class="text-white underline hover:text-blue-300 transition-colors" href="/projects">projects.rileyflynn.me</a>  2023-04-22T20:00:00Z
    </pre>
</Layout>
