body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

a {
    text-decoration: none;
}

.colour_links {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 45%;
    text-align: right;
}

.font_links {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 45%;
}

@media screen and (max-width: 480px) {
    .no_mobile {
        display:none;
    }
}