---

---

<div class="flex h-screen snap-start flex-row p-4 text-zinc-300 md:p-16">
    <div class="flex flex-1 items-center">
        <div>
            <slot />
        </div>
    </div>
    <div class="hidden flex-1 md:flex"></div>
</div>
