@import url(./dank-mono.css);

.editor {
  background-color: #292d3e;
  height: calc(100vh - 22px);
  flex: 1;
  flex-direction: column;
  display: flex;
  overflow: auto;
}

.splitEditor {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.splitEditor > :not(:last-child) {
  border-right: 2px solid #2e3245;
}

@media (max-width: 768px) {
  .editor {
    padding-bottom: 44px;
  }
}

.topBar {
  font-size: 0.8125em;
  display: flex;
  background-color: #32374c;
  height: 2.625em;
  align-items: center;
  color: #eeffff;
  padding-left: 2em;
  padding-right: 1em;
  justify-content: space-between;
}

.topBarButton {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  color:  rgb(103, 110, 149);
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorContent {
  overflow: auto;
  flex: 1;
  padding: 1em;
  font-family: "Dank Mono", monospace;
  font-feature-settings: "liga" on, "calt" on;
  font-size: 0.875em;
  color: #bfc7d5;
}

.rawContent {
  padding: 0;
  overflow: hidden;
}

.monacoEditor {
  height: 100%;
}
