code[class*="language-"],
pre[class*="language-"] {
  color: #bfc7d5;
  background: none;
  font-family: "Dank Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  font-feature-settings: "liga" on, "calt" on;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #212533;
  border-radius: 0.5em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.namespace,
.token.deleted {
  color: #ff5572;
}

.token.attr-name {
  color: #ffcb6b;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number {
  color: #ff5874;
}

.token.function {
  color: #89ddff;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #ffcb6b;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #c792ea;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #c3e88d;
}

.token.operator,
.token.entity,
.token.url {
  color: #c792ea;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

.token.interpolation .punctuation {
  color: #82aaff;
}

.token.interpolation {
  color: #7986e7;
}
