code[class*="language-"],
pre[class*="language-"] {
  color: #f7f1ff;
  background: none;
  font-family: "Dank Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  font-feature-settings: "liga" on, "calt" on;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #1a1a1a;
  border-radius: 0.5em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.namespace,
.token.deleted {
  color: #fc618d;
}

.token.attr-name {
  color: #5ad4e6;
}

.token.function-name {
  color: #7bd88f;
}

.token.boolean,
.token.number {
  color: #948ae3;
}

.token.function {
  color: #7bd88f;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f7f1ff;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #fc618d;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #fce566;
}

.token.operator,
.token.entity,
.token.url {
  color: #fc618d;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

.token.interpolation .punctuation {
  color: #8b888f;
}

.token.interpolation {
  color: #8b888f;
}
