@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

@media (min-width: 768px) {
  .page {
    flex-direction: row;
    flex: 1;
  }
}

a {
  text-decoration: none;
  color: #fc618d;
}

img {
  max-width: 100%;
  max-height: 50vh;
}
