.sidebar {
  flex: 0 0 18em;
  background-color: #191919;
  border-right: 1px solid #222222;
}

.header {
  height: 1.375em;
  color: #525053;
  font-size: 0.6875em;
  font-weight: 700;
  padding-left: 0.25em;
}

.pageLink {
  color: #8b888f;
  text-decoration: none;
  display: block;
  font-size: 0.8125em;
  padding-left: 1em;
  height: 3em;
  line-height: 3em;
  align-content: center;
}

.pageLink:hover {
  color: #f7f1ff;
  background-color: #f7f1ff0c;
}

.selectedPageLink {
  color: #fce566;
  background-color: #f7f1ff0c;
}

@media (max-width: 768px) {
  .sidebar {
    flex: 0;
  }
}
