---
interface Props {
    command: string;
}
const { command } = Astro.props;
const commandParts = command.split(' ');
---

<div>
    <span class="text-ctp-green font-black">{'> '}</span>
    <span class="text-ctp-blue">{commandParts[0]}</span>
    <span class="text-ctp-teal">{commandParts.slice(1).join(' ')}</span>
</div>
