---
interface Props {
    text: string;
    href: string;
    rel?: string;
}

const { text, href, rel } = Astro.props;
---

<a class="hover:text-ctp-blue underline transition-colors" href={href} rel={rel}>{text}</a>
