<div
    class:list={[
        'prose',
        // Consistent greys
        'prose-headings:text-ctp-text',
        'text-ctp-text',
        'prose-strong:text-ctp-text',
        'prose-code:text-ctp-text',
        // Consistent link styling
        'prose-a:text-ctp-text',
        'prose-a:hover:text-ctp-blue',
        'prose-a:transition-colors',
        // Style elements to show their markdown code
        'prose-h1:before:content-["#_"]',
        'prose-h2:before:content-["##_"]',
        'prose-h3:before:content-["###_"]',
        'prose-h4:before:content-["####_"]',
        'prose-h5:before:content-["#####_"]',
        'prose-h6:before:content-["######_"]',
        'prose-em:before:content-["*"]',
        'prose-em:after:content-["*"]',
        'prose-strong:before:content-["**"]',
        'prose-strong:after:content-["**"]',
        'prose-ul:list-["-"]',
    ]}
>
    <slot />
</div>
