.sidebar {
    flex: 0 0 18em;
    background-color: #292d3e;
    border-right: 1px solid rgb(40, 43, 60);
}

.header {
    height: 1.375em;
    color: rgb(238, 255, 255);
    font-size: 0.6875em;
    font-weight: 700;
    padding-left: 0.25em;
}

.pageLink {
    color: #929ac9;
    text-decoration: none;
    display: block;
    font-size: 0.8125em;
    padding-left: 1em;
    height: 3em;
    line-height: 3em;
    align-content: center;
}

.pageLink:hover {
    background-color: #2e3245;
}

.selectedPageLink {
    background-color: rgba(146, 154, 201, 0.05);
}

@media (max-width: 768px) {
    .sidebar {
        flex: 0;
    }
}