---
import Link from './link.astro';

interface Props {
    lines: {
        text: string;
        link?: string;
    }[][];
}

const { lines } = Astro.props;

const columnWidths = lines.reduce((acc, line) => {
    line.forEach((column, i) => {
        acc[i] = Math.max(acc[i] || 0, column.text.length + 1);
    });
    return acc;
}, [] as number[]);
---

<div class="w-full whitespace-nowrap overflow-auto">
    {
        lines.map((line, i) => (
            <>
                {line.map((column, j) => (
                    <>
                        {column.link ? <Link href={column.link} text={column.text} /> : column.text}
                        <pre class="inline">{' '.repeat(columnWidths[j] - column.text.length)}</pre>
                    </>
                ))}
                <br />
            </>
        ))
    }
</div>
