---
import { CollectionEntry,getCollection } from 'astro:content';
import Command from '../../components/command.astro';
import Base from '../../layouts/base.astro';

export async function getStaticPaths() {
    const projectEntries = await getCollection('projects');
    return projectEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

interface Props {
    entry: CollectionEntry<'projects'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Base title={`${entry.data.title} - rileyflynn.me`}>
    <Command command={`kubectl describe project ${entry.slug}`} />
    <pre class="text-[#FF00FF]">TODO: ADD CONTENT</pre>

    <br />

    {entry.body && (
        <Command command={`kubectl get project ${entry.slug} --output=markdown`} />
        <pre class="text-[#FF00FF]">TODO: Make greys consistent</pre>
        <div class="prose prose-invert">
            <Content />
        </div>
    )}
</Base>
