---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
---

<h1>Projects</h1>
<ul>
    {
        projects.map((project) => (
            <li>
                <a href={`/projects/${project.slug}`}>{project.data.title}</a>
            </li>
        ))
    }
</ul>
