---
import { SEO } from 'astro-seo';
import Footer from '../components/layout/footer.astro';
import Navbar from '../components/layout/navbar.astro';
import Fonts from '../components/utils/fonts.astro';

interface Props {
    frontmatter?: Props;

    title?: string;
}

const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="en">
    <head>
        <Fonts />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- TODO: Configure the rest of the SEO fields -->
        <SEO title={title} titleDefault="rileyflynn.me" titleTemplate="%s - rileyflynn.me" />
    </head>
    <body class="flex min-h-screen flex-col bg-zinc-900 font-sans-serif text-zinc-300">
        <Navbar />
        <div class="flex-1">
            <slot />
        </div>
        <Footer />
    </body>
</html>
