---
import { flavors as catppuccinFlavours } from '@catppuccin/palette';
import { SEO } from 'astro-seo';
import { Font } from 'astro:assets';
import '../styles/global.css';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
const ogPath = Astro.url.origin + '/og/' + (Astro.url.pathname.replace(/^\/?(.*?)\/?$/, '$1') || 'index') + '.png';
---

<html lang="en">
    <head>
        <Font cssVariable="--font-monospace" preload />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content={catppuccinFlavours.frappe.colors.base.hex} />
        <SEO
            title={title}
            description={description}
            charset="utf-8"
            openGraph={{ basic: { title: title, type: 'website', image: ogPath } }}
            twitter={{
                creator: '@bootlegjohn',
                title: title,
                description: description,
                image: ogPath,
                card: 'summary_large_image',
            }}
        />
    </head>
    <body class="bg-ctp-base text-ctp-text p-4 font-mono">
        <slot />
    </body>
</html>
