---
import '@fontsource/iosevka';
import { SEO } from 'astro-seo';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
const ogPath = Astro.url.origin + '/og/' + (Astro.url.pathname.replace(/^\/?(.*?)\/?$/, '$1') || 'index') + '.png';
---

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <SEO
            title={title}
            description={description}
            charset="utf-8"
            openGraph={{ basic: { title: title, type: 'website', image: ogPath } }}
            twitter={{ creator: '@bootlegjohn', title: title, description: description, image: ogPath }}
        />
    </head>
    <body class="p-4 bg-zinc-900 text-zinc-300 font-mono">
        <slot />
    </body>
</html>
