@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body {
    background-color: #2B2B2B;
    color: #A9B7C6;
    font-family: 'Inconsolata', monospace;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.project_name {
    color: #B200B2;
}

.name {
    color: #008080;
}

.highlight {
    color: #AA4926;
}

a {
    color: #A5C261;
    text-decoration: none;
}

.css_links {
    position: fixed;
    bottom: 0;
    right: 0;
}